* {
    box-sizing: border-box;
}

#home {
    width: 500px;
    margin: 0 auto;
}

#home h1 {
    font-size: 60px;
    margin-bottom: 100px;
}

#home a.recipe {
    display: block;
    margin: 50px 20px;
    padding: 20px;
    width: 300px;
    border-width: 5px;
    border-style: solid;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

a.recipe.spanish-omelette{
    background-color: goldenrod;
    border-color: darkgoldenrod
}

a.recipe.fried-green-beans {
    background-color: olivedrab;
    border-color: darkolivegreen;
}

a.recipe.tomato-salad {
    background-color: firebrick;
    border-color: darkred;
}