* {
    box-sizing: border-box;
    background-color: antiquewhite;
}

#home {
    width: 500px;
    margin: 0 auto;
}

#home h1 {
    font-size: 60px;
    margin-bottom: 100px;
}

#home a.recipe {
    display: block;
    margin: 50px 20px;
    padding: 20px;
    width: 300px;
    border-width: 5px;
    border-style: solid;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

a#home-button {
    display: inline-block;
    background-color: burlywood;
    padding: 10px 30px;
    margin: 10px;
    border-radius: 10%;
    font-size: 20px;
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
}

a.recipe.spanish-omelette{
    background-color: goldenrod;
    border-color: darkgoldenrod
}

a.recipe.fried-green-beans {
    background-color: olivedrab;
    border-color: darkolivegreen;
}

a.recipe.tomato-salad {
    background-color: firebrick;
    border-color: darkred;
}

.recipe-page {
    width: 80%;
    margin: 0 auto;
    color: rgb(46, 46, 46);
}

.recipe-page img {
    display: block;
    width: 400px;
    margin: 0 auto;
}

.recipe-page h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}